<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>S'authentifier</h1>
        <div>
            <form action="/login" method="POST">
                <input type="email" name="email" placeholder="E-amil" required><br>
                <input type="password" name="mot_de_passe" placeholder="Mot de passe" required><br>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </center>
</body>
</html>