<%- include('partials/header') %>
<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: url('https://static.vecteezy.com/system/resources/previews/022/737/904/non_2x/modern-city-scape-silhouette-simple-minimalist-blue-city-skyline-background-urban-cityscape-silhouettes-illustration-vector.jpg') no-repeat center center fixed;
        background-size: cover;
        color: #fff;
        min-height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-container {
        max-width: 450px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
        padding: 30px;
        color: #fff;
    }
    h1 {
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }
    .form-control {
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
    }
    .form-control:focus {
        border-color: #FFD700;
        box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
    }
    .btn-primary {
        background-color: #3e74a9;
        border: none;
        padding: 12px;
        border-radius: 50px;
        width: 100%;
        font-size: 16px;
        transition: 0.3s;
    }
    .btn-primary:hover {
        background-color: #218838;
        transform: translateY(-3px);
    }
    .form-check-label {
        color: #fff;
    }
    .custom-radio .form-check-input:checked {
        background-color: #FFD700;
        border-color: #FFD700;
    }
    .cursor-custom {
        cursor: url('https://www.rw-designer.com/cursor-extern.php?id=24835') , auto;
    }
</style>
<div class="form-container cursor-custom">
    <h1>S'authentifier</h1>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="Entrez votre email">
                </div>
                <!-- Mot de passe -->
                <div class="mb-3">
                    <label for="mot_de_passe" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="mot_de_passe" name="mot_de_passe" required placeholder="Entrez votre mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
                <p>Vous n'avez pas de compte ? <a href="/register">Inscrivez-vous</a></p>
            </form>
        </div>
 <%- include('partials/footer') %>
